.DS_Store
node_modules/

schema/**/*.js
app/**/*.js
common/**/*.js
content/**/*.js
crypto/**/*.js
fetch/**/*.js
localstorage/**/*.js
gun/**/*.js

src/**/*.js
test/**/*.js

public-api.js
*.map
*.d.ts
*.tgz

www
